<% active= "View Entries" %>
<%- include templates/header.ejs %>
		<div class="content">
            <div class="container-fluid">
                <!-- Entries for the Month -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"><%= month %></h4>
                                <p class="category">Entries for the Month of <%= month %></p>
                            </div>
                            <% if (monthEntries.length !== 0){ %>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>ID</th>
                                            <th>Date</th>
                                            <th>($)</th>
                                            <th>I/E</th>
                                            <th>Type</th>
                                            <th>M.O.P</th>
                                            <th>Company</th>
                                            <th>Description</th>
                                        </thead>
                                        <tbody>
                                            <% monthEntries.forEach(function(month){ %>
                                                <tr>
                                                    <td><%= month.id %></td>
                                                    <td><%= month.date %></td>
                                                    <td><%= month.amount %></td>
                                                    <td><%= month.ie %></td>
                                                    <td><%= month.type %></td>
                                                    <td><%= month.mop %></td>
                                                    <td><%= month.comp %></td>
                                                    <td><%= month.desc %></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            <% } else { %>
                                <div class="content table-responsive table-full-width" style="margin-left: 1%;">
                                    There are no entries for <%= month %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- Entries for Credit Card Payments -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Credit Card Payments</h4>
                            </div>
                            <% if (creditEntries.length !== 0){ %>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>ID</th>
                                            <th>Date</th>
                                            <th>($)</th>
                                            <th>Credit Card</th>
                                            <th>M.O.P</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                        </thead>
                                        <tbody>
                                            <% creditEntries.forEach(function(credit){ %>
                                                <tr>
                                                    <td><%= credit.id %></td>
                                                    <td><%= credit.date %></td>
                                                    <td><%= credit.amount %></td>
                                                    <td><%= credit.cc %></td>
                                                    <td><%= credit.mop %></td>
                                                    <td><%= credit.startDate %></td>
                                                    <td><%= credit.endDate %></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            <% } else { %>
                                <div class="content table-responsive table-full-width" style="margin-left: 1%;">
                                    There are no credit card payment entries for <%= year %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
                <!-- Entries for the Year -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"><%= year %></h4>
                                <p class="category">Entries for <%= year %></p>
                            </div>
                            <% if (yearEntries.length !== 0){ %>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-striped">
                                        <thead>
                                            <th>ID</th>
                                            <th>Date</th>
                                            <th>($)</th>
                                            <th>I/E</th>
                                            <th>Type</th>
                                            <th>M.O.P</th>
                                            <th>Company</th>
                                            <th>Description</th>
                                        </thead>
                                        <tbody>
                                            <% yearEntries.forEach(function(year){ %>
                                                <tr>
                                                    <td><%= year.id %></td>
                                                    <td><%= year.date %></td>
                                                    <td><%= year.amount %></td>
                                                    <td><%= year.ie %></td>
                                                    <td><%= year.type %></td>
                                                    <td><%= year.mop %></td>
                                                    <td><%= year.comp %></td>
                                                    <td><%= year.desc %></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            <% } else { %>
                                <div class="content table-responsive table-full-width" style="margin-left: 1%;">
                                    There are no entries for <%= year %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
			</div>
		</div>
<%- include templates/footer.ejs %>
    <script>
        $().ready(function(){
            demo.initGoogleMaps();
        });
    </script>

</html>
